/******************************************************************
STYLESHEET: MODULE

******************************************************************/

.col-item {
	padding: 5px;
	text-align: center;
	color: $c-white;
	background-color: $c1-main;
}