/******************************************************************

    BASE: HELPERS
        > MARGINS
        > PADDINGS

******************************************************************/


/******************************************************************
    MARGINS
******************************************************************/

.h {

    &-no-mtop {
        margin-top: 0 !important;
    }

    &-no-mright {
        margin-right: 0 !important;
    }

    &-no-mbottom {
        margin-bottom: 0 !important;
    }

    &-no-mleft {
        margin-left: 0 !important;
    }
}


/******************************************************************
    PADDINGS
******************************************************************/

.h {

    &-no-ptop {
        padding-top: 0 !important;
    }

    &-no-pright {
        padding-right: 0 !important;
    }

    &-no-pbottom {
        padding-bottom: 0 !important;
    }

    &-no-pleft {
        padding-left: 0 !important;
    }
}
